.git
.github
.idea
.vscode
node_modules
vendor
public/build
public/hot
public/storage
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.*
!.env.example
npm-debug.log
yarn-error.log
__*
*.log
