/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/tools/cloudflared.exe
/tools/mailpit/mailpit.exe
/storage/*.key
/storage/app/*
!/storage/app/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/cache/data
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/storage/pail
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/vendor
/.appdata
/.composer-cache
/.localappdata
/.npm-cache
/PsySH
/__*
/dump((array)))
/toArray())
/temp_delete_lines.py
.DS_Store
.env
.env.*.local
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
